.mainBanner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.banner {
  max-width: 650px;
}

.banner img {
  width: 100%;
}

.mainBanner h2 {
  font-size: 50px;
}

.contentInfo {
  padding: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contentInfo p {
  margin: 0;
}
.contentInfo p:not(:last-child) {
  margin-bottom: 15px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.projectCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 305px;
  height: 240px;
  padding: 10px;
}

.projectCard img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.personImageWrap {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid #000;
}

.personImage {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.personImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 615px) {
  .projects {
    justify-content: center;
  }
  .mainBanner h2 {
    font-size: 25px;
  }
  .contentInfo p {
    font-size: 12px;
  }
}
