.aboutPage {
  padding: 40px 0;
}

.contactsBlock p {
  margin-bottom: 10px;
  text-align: center;
}

    .socialNetwork:hover {
        text-decoration: underline;
        transition: all ease 1s;
    }

.myImage {
  display: flex;
  justify-content: center;
  max-width: 300px;
}

.myImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutMe {
  margin-bottom: 20px;
}
.aboutPage {
  padding: 60px 0;
}

.aboutMeInfo p {
  margin-top: 20px;
}

.certificates {
  width: 100%;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.aboutMeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.certificates img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts h3,
.aboutMe h3 {
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .aboutPage {
    padding: 40px 0;
  }

  .contactsBlock p {
    margin-bottom: 10px;
    text-align: left;
  }
  .aboutMeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutMeInfo p {
    align-self: flex-end;
  }

  .myImage {
    display: flex;
    justify-content: center;
    max-width: 300px;
  }

  .myImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .certificates {
    width: 100%;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .certificates img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contactsBlock p {
    margin-bottom: 10px;
  }
  .contacts h3,
  .aboutMe h3 {
    margin-bottom: 30px;
    text-align: left;
  }
}
